@model string
@{
    ViewBag.Title = "ErrorState";
    Layout = null;
}
<link href="~/adminStyles.css" rel="stylesheet" />

<div class="Edit-Form">
    @ViewBag.message
@Html.ActionLink("Go back", "ViewAllAnimals", "Admin", new { @class = "btn btn-success" })

</div> 